<section id="signing-in">
	<form action="/sessions" method="post">
		<p id="title-sign-in">Signing in: </p>
		<p class="field"> Email: <input type="text" name="email"></p>
		<p class="field"> Password: <input type="password" name="password"></p>
		<input id="sign-in"  class="button" type="submit" value="Sign In">
	</form>
</section>