<section id="posting-reply">
	<form action="/replies" method="post">
		<p id="title-message">Message:
		<input id="reply-post" type="submit" class ="button" value="Post">
		</p> 
		<textarea class="field" rows="7" cols="73" name="message" value="message"></textarea>
	</form>
</section>