body {
	font-family: Comic, Cursive, sans-serif;
	background: #cccccc;
	font-size: 120%;
}

header {
	display: flex;
	background-color: #537180;
	height: 60px;
	color: #183745;
	padding: 10px;
}
header > * {
    margin: auto 0;
  }

header #logo {
	color:#ffdad1;
	font-size: 250%;
	padding: 10px;
	padding-right: 100px;
	display: flex;
}

a.button {
	display: inline-block;
	width: 80px;
	height: 20px;
	cursor: pointer;
	background: #69cfc9;
	border: 2px solid;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	color: #183745;
	font-size: 110%;
}
header #signed-in {
    flex: 1;
    -webkit-flex: 1;
    text-align: right; 
    font-size: 150%,
    color: black; 
}


body #post-a-peep {
	background: #facbc3;
	display: inline-block;
	width: 150px;
	height: 20px;
	cursor: pointer;
	border: 2px solid;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	color: #183745;
	font-size: 120%;

}

body #peeps {
	padding: 30px;
	font-size: 120%;
}