body {
	font-family: Arial, Cursive, sans-serif;
	background-image: url("/images/extra_clean_paper.png");
	font-size: 120%;
}
/*----------------------header-----------------------*/
header {
	background-color: rgb(250, 79, 78);
	color: rgb(232, 233, 231);
	font-family: Comic, Cursive, sans-serif;
}
header > * {
    margin: auto 0;
  }

header #bird {
	display: inline;
	width: 6%;
	margin: 10px;
	vertical-align: middle;
}

header #logo {
	color: rgb(232, 233, 231);
	font-size: 4.5vw;
	display: inline;
	vertical-align: middle;
}

a.button {
	vertical-align: middle;
	-moz-box-shadow: 0px 0px 14px 1px #91b8b3;
	-webkit-box-shadow: 0px 0px 14px 1px #91b8b3;
	box-shadow: 0px 0px 14px 1px #91b8b3;
	background-color: rgb(232, 233, 231);
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	display:inline-block;
	cursor:pointer;
	color: rgb(250, 79, 78);
	font-family: Arial, Cursive, sans-serif;
	font-weight: bold;
	font-size: 2vw;
	padding:0.5% 3.2%;
	margin: 1.5%;
	text-decoration:none;
	float: right;

}
a.button:hover {
	background-color: rgb(206, 199, 190);
}
a.button:active {
	position:relative;
	top:1px;
}*/

/*----------------------profile box-----------------------*/

body main {
	margin-left: 5%;
	margin-right: 5%;
	font-family: Arial, sans-serif;

}

#signed-in-as {
	display: inline-table;
	border: solid 7px rgb(250, 79, 78);
	width: 25%;
	height: 80%;
	margin: 2%;
/*	margin-top: 7%;*/
	border-radius:17px;
}

#user {
	color:  rgb(232, 233, 231);
	background-color: rgb(250, 79, 78);
	padding: 2%;
	font-family: Comic, Cursive, sans-serif;
	font-weight: bold;
}

#sign-out {
	display: inline;
	float: right;
}

#name-username {
	margin: 2%;
}

/*----------------------peeps-----------------------*/

body #peeps {
	display: inline-table;
	background: rgb(250, 79, 78); 
	width: 65vw;
	border-radius:17px;
	margin-top: 3%;
	margin-bottom: 3%;

}

.peep {
	background-image: url("/images/extra_clean_paper.png");
/*	border: solid 3px rgb(250, 79, 78);*/
	border-radius:17px;
	width: 60vw;
	margin: 3%;
}

#time-added, #message, #author {
	padding: 6px;
}

#author {
	text-align: right;
	font-weight: bold;
}


