
<section id="signing-up">
	<form action="/users/new" method="post">
		<p id="title-sign-up">Signing up: </p>
		<p class="field" >Full Name: <input type="text" name="name"></p>
		<p class="field" >User Name: <input type="text" name="user_name"></p>
		<p class="field" >Email: <input type="text" name="email"></p>
		<p class="field" >Password: <input type="password" name="password"></p>
		<input id="sign-up" type="submit" value="Sign Up">
	</form>
</section>