
<section id="posting-peep">
	<form action="/peeps" method="post">
		<p id="title-message">Message:
		<input id="post" type="submit" class ="button" value="Post">
		</p> 
		<textarea id="message-window" rows="7" cols="77" name="message"></textarea>
	</form>
</section>