<main>
<div id="peeps"
<ul>
	<%if @peeps%>
		<% @peeps.each do |peep| %>
		<% @user = User.first(:id => peep.user_id)%>
		<li><%=peep.time_added.strftime("%Y-%m-%d %H:%M:%S")%>  <%=peep.message%>***by<%=@user.name%>***@<%=@user.user_name%></li>
	<%end%>
	<%end%>
</ul>
</div>

<div id="post-a-peep">
<a href="/peeps/new">Post a Peep</a>
</div>

</main>

