<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
</head>

<body>
    <header>
    	<h1>Chitter</h1>
    	<ul>
    		<li><a href="/sessions/new" class="button">Log in</a></li>
    		<li><a href="/users/new" class="button">Join</a></li>
    	</ul>
	</header>
	
	<main>
			<% if current_user %>
		 	You are signed in as <%= current_user.user_name %>
		      	<form id="sign-out" action="/sessions" method="post">
		            <input type="hidden" name="_method" value="delete">
		            <input type="submit" value="Sign Out">
	          	</form>
		    <% end %>
		<%= yield %>
	</main>
</body>


