<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"> 
 	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
    <header>
    	<a href='/'><img id="bird" src="/images/bird.jpg"/></a>
		<a id="logo" href='/'>Chitter</a>
    	<a id="log-in" href="/sessions/new" class="button">Log in</a>
    	<a href="/users/new" class="button">Join</a>
	</header>
	<main>
    	<section id="signed-in">
			<% if current_user %>
		 	You are signed in as <%= current_user.user_name %>
		      	<form id="sign-out" action="/sessions" method="post">
		            <input type="hidden" name="_method" value="delete">
		            <input type="submit" class="button" value="Sign Out">
	          	</form>
		    <% end %>
		</section>
	<%= yield %>
	</main>
</body>


