<!DOCTYPE html>
<html>
<head>
	<title>Chitter</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"> 
 	<link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
    <header>
    	<a href='/'><img id="bird" src="/images/bird.jpg"/></a>
		<a id="logo" href='/'>Chitter</a>
    	<a id="log-in" href="/sessions/new" class="button">Log in</a>
    	<a href="/users/new" class="button">Join</a>
	</header>
	<main>
    	<% if current_user %>
    		<section id="signed-in-as">
	    		<article id="user">Current User:
    				<form id="sign-out" action="/sessions" method="post">
		            	<input type="hidden" name="_method" value="delete">
		            	<input type="submit" class="button" value="Sign Out">
	          		</form>
		        </article>
	          	<p id="name-username">
		 			<br/>NAME:  <%= current_user.user_name %><br/>
		 			<br/>USERNAME:  <%= current_user.name %><br/>
		 		</p>
		    
			</section>
		<% end %>
		<%= yield %>
	</main>
</body>


